<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <partial name="BootstrapStyle.cshtml" />
    <link rel="stylesheet" href="~/UIApp.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <partial name="Header" />
    <div class="container main-body">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="Footer" />
    <partial name="JqueryScript" />
    <partial name="BootstrapScript" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
