@model UIApp.ViewModels.SuccessViewModel;

@{
    ViewData["Title"] = "Success";
}

<div class="text-success display-3">Success</div>
<div class="my-3">@Model.Message</div>
<a href="@Model.ReturnUrl" class="btn btn-primary my-3 mx-2 px-3 py-2">Return to site.</a>

