@model UIApp.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

@section Scripts{
    <script src="~/js/profile.js"></script>
}

@section Styles{
    <link href="~/css/profile.css" rel="stylesheet"/>
}

<div class="container">
    <h1>User profile</h1>
    <hr />

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">@TempData["Message"]</div>
    }

    <input asp-for="Id" type="hidden"/>
    
    <form method="post" asp-action="UpdateEmail" asp-controller="Profile" class="my-3">
        <div class="form-group">
            <label class="form-label" for="newEmail">Email: </label>
            <input name="newEmail" id="newEmail" type="email" class="form-control" value="@Model.Email" />
        </div>

        <button type="submit" class="btn btn-primary">Change email</button>
    </form>

    <form method="post" asp-action="UpdatePhone" asp-controller="Profile" class="my-3">
        <div class="form-group">
            <label class="form-label" for="newPhone">Phone: </label>
            <input name="newPhone" id="newPhone" type="tel" class="form-control" value="@Model.PhoneNumber" />
        </div>

        <button type="submit" class="btn btn-primary">Change phone</button>
    </form>

    <form method="post" asp-action="UpdatePassword" asp-controller="Profile" class="my-3">
        <div class="form-group">
            <label class="form-label" for="oldPassword">Old password: </label>
            <input name="oldPassword" id="oldPassword" type="password" class="form-control" />
            <label class="form-label" for="newPassword">New password: </label>
            <input name="newPassword" id="newPassword" type="password" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Change password</button>
    </form>
</div>
