.tag{
    background-color: lightblue;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    display: inline-block;
}

.commentPageNumber {
    display: inline-block;
    padding: 5px;
    background-color: sandybrown;
    color: blue;
    border: 1px solid black;
}
