span.tag {
    background-color: lightblue;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    display: inline-block;
}

.postsPageNumber {
    display: inline-block;
    background-color: beige;
    color: blue;
    padding: 5px;
    border: 1px solid black;
}
