@{
    ViewData["Title"] = "Friendrequests";
}

<a asp-action="ReceivedFriendrequests" asp-controller="Friends" class="btn btn-primary">Received</a>
<a asp-action="SentFriendrequests" asp-controller="Friends" class="btn btn-primary">Sent</a>
